numpy==1.23.5
pandas==1.5.3
plotly==5.18.0
redis==5.0.4
st-annotated-text==4.0.1
st-pages==0.4.5
st-theme==1.2.3
streamlit==1.34.0
streamlit-antd-components==0.3.2
streamlit-autorefresh==1.0.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.2
streamlit-lottie==0.0.5
streamlit-navigation-bar==3.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
